@import "tailwindcss";

@theme {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
  /* Colores del Brandbook */
  --color-brand-terracotta: #884535;
  --color-brand-olive: #656D4A;
  --color-brand-sand: #EFDAC7;
  --color-brand-sage: #C2C8A3;
  --color-brand-linen: #FFF8EF;

  /* Tipografías */
  --font-playfair: var(--font-playfair-display);
  --font-inter: var(--font-inter);
}

/* Fondo base para toda la web usando el color Linen del manual */
body {
  background-color: var(--color-brand-linen);
  color: var(--color-brand-terracotta);
  font-family: var(--font-inter), sans-serif; /* ESTO ASEGURA QUE SE USE */
}

h1, h2, h3, .font-playfair {
  font-family: var(--font-playfair), serif;
}